<a href="https://colab.research.google.com/github/nadilaaaaaa/Dummy-Project/blob/main/Dummy_Project_Balaji_Sales_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Balaji Fast Food Sales.csv')
df

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
...,...,...,...,...,...,...,...,...,...,...
995,996,3/19/2023,Frankie,Fastfood,50,10,500,NaN,Mrs.,Evening
996,997,9/20/2022,Sandwich,Fastfood,60,7,420,NaN,Mr.,Evening
997,998,1/26/2023,Sandwich,Fastfood,60,13,780,NaN,Mr.,Evening
998,999,8/27/2022,Panipuri,Fastfood,20,5,100,NaN,Mrs.,Afternoon
999,1000,5/29/2022,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

In [ ]:
df.shape

(1000, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   date                1000 non-null   object
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.3+ KB

In [ ]:
df.describe()

          order_id   item_price     quantity  transaction_amount
count  1000.000000  1000.000000  1000.000000         1000.000000
mean    500.500000    33.315000     8.162000          275.230000
std     288.819436    14.921744     4.413075          204.402979
min       1.000000    20.000000     1.000000           20.000000
25%     250.750000    20.000000     4.000000          120.000000
50%     500.500000    25.000000     8.000000          240.000000
75%     750.250000    50.000000    12.000000          360.000000
max    1000.000000    60.000000    15.000000          900.000000

df['date'] = df['date_cleaned']
df.drop(columns=['date_cleaned'], inplace=True)

In [ ]:
df.isnull().sum()

order_id                0
date                    0
item_name               0
item_type               0
item_price              0
quantity                0
transaction_amount      0
transaction_type      107
received_by             0
time_of_sale            0
dtype: int64

In [ ]:
df['transaction_type'].fillna('Unknown', inplace=True)
value_counts = df['transaction_type'].value_counts()
print(value_counts)

transaction_type
Cash       476
Online     417
Unknown    107
Name: count, dtype: int64

/tmp/ipython-input-3109441132.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['transaction_type'].fillna('Unknown', inplace=True)

In [ ]:
df['date_cleaned'] = pd.to_datetime(df['date'], errors='coerce', dayfirst=True)
print(df['date_cleaned'])

0     2022-03-07
1            NaT
2            NaT
3     2023-03-02
4     2022-02-10
         ...
995          NaT
996          NaT
997          NaT
998          NaT
999          NaT
Name: date_cleaned, Length: 1000, dtype: datetime64[ns]

In [ ]:
mask_nat = df['date_cleaned'].isna()
df.loc[mask_nat, 'date_cleaned'] = pd.to_datetime(df.loc[mask_nat, 'date'], errors='coerce', dayfirst=False)
df['date'] = df['date_cleaned']
df.drop(columns=['date_cleaned'], inplace=True)
print(df['date'])

0     2022-03-07
1     2022-08-23
2     2022-11-20
3     2023-03-02
4     2022-02-10
         ...
995   2023-03-19
996   2022-09-20
997   2023-01-26
998   2022-08-27
999   2022-05-29
Name: date, Length: 1000, dtype: datetime64[ns]

In [ ]:
text_cols = ['item_name', 'item_type', 'received_by', 'time_of_sale', 'transaction_type']
for col in text_cols:
    df[col] = df[col].astype(str).str.lower().str.strip().str.replace('.', '', regex=False)
    print(df[col])

0             aalopuri
1              vadapav
2              vadapav
3      sugarcane juice
4      sugarcane juice
            ...
995            frankie
996           sandwich
997           sandwich
998           panipuri
999           aalopuri
Name: item_name, Length: 1000, dtype: object
0       fastfood
1       fastfood
2       fastfood
3      beverages
4      beverages
         ...
995     fastfood
996     fastfood
997     fastfood
998     fastfood
999     fastfood
Name: item_type, Length: 1000, dtype: object
0       mr
1       mr
2       mr
3       mr
4       mr
      ...
995    mrs
996     mr
997     mr
998    mrs
999    mrs
Name: received_by, Length: 1000, dtype: object
0          night
1      afternoon
2      afternoon
3          night
4        evening
         ...
995      evening
996      evening
997      evening
998    afternoon
999     midnight
Name: time_of_sale, Length: 1000, dtype: object
0      unknown
1         cash
2         cash
3       online
4       online
        ...
995    unknown
996    unknown
997    unknown
998    unknown
999     online
Name: transaction_type, Length: 1000, dtype: object

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['calculated_amount'] = df['item_price'] * df['quantity']
inconsistent_rows_mask = df['transaction_amount'] != df['calculated_amount']
df.loc[inconsistent_rows_mask, 'transaction_amount'] = df.loc[inconsistent_rows_mask, 'calculated_amount']
df.drop(columns=['calculated_amount'], inplace=True)

In [ ]:
numeric_cols = ['item_price', 'quantity', 'transaction_amount']
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    outlier_count = len(outliers)

    percentage = (outlier_count / len(df)) * 100

    print(f"\nKolom: {col}")
    print(f"  Batas Atas (Upper Bound): {upper_bound:.2f}")
    print(f"  Jumlah Outlier: {outlier_count} baris")
    print(f"  Persentase Outlier: {percentage:.2f}%")

    if outlier_count > 0:
        print(f"  Nilai Outlier Minimum: {outliers[col].min()}")
        print(f"  Nilai Outlier Maksimum: {outliers[col].max()}")

Kolom: item_price
  Batas Atas (Upper Bound): 95.00
  Jumlah Outlier: 0 baris
  Persentase Outlier: 0.00%

Kolom: quantity
  Batas Atas (Upper Bound): 24.00
  Jumlah Outlier: 0 baris
  Persentase Outlier: 0.00%

Kolom: transaction_amount
  Batas Atas (Upper Bound): 720.00
  Jumlah Outlier: 44 baris
  Persentase Outlier: 4.40%
  Nilai Outlier Minimum: 750
  Nilai Outlier Maksimum: 900

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   date                1000 non-null   datetime64[ns]
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    1000 non-null   object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 78.3+ KB

In [ ]:
df.describe()

,order_id,date,item_price,quantity,transaction_amount
count,1000.000000,1000,1000.000000,1000.000000,1000.000000
mean,500.500000,2022-10-02 05:15:21.600000,33.315000,8.162000,275.230000
min,1.000000,2022-01-04 00:00:00,20.000000,1.000000,20.000000
25%,250.750000,2022-06-17 00:00:00,20.000000,4.000000,120.000000
50%,500.500000,2022-09-21 00:00:00,25.000000,8.000000,240.000000
75%,750.250000,2023-01-02 00:00:00,50.000000,12.000000,360.000000
max,1000.000000,2023-12-03 00:00:00,60.000000,15.000000,900.000000
std,288.819436,NaN,14.921744,4.413075,204.402979

In [ ]:
df.isnull().sum()

order_id              0
date                  0
item_name             0
item_type             0
item_price            0
quantity              0
transaction_amount    0
transaction_type      0
received_by           0
time_of_sale          0
dtype: int64

In [ ]:
!pip install gspread gspread-dataframe

Requirement already satisfied: gspread in /usr/local/lib/python3.12/dist-packages (6.2.1)
Requirement already satisfied: gspread-dataframe in /usr/local/lib/python3.12/dist-packages (4.0.0)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from gspread) (2.38.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.12/dist-packages (from gspread) (1.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.12/dist-packages (from gspread-dataframe) (2.2.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from gspread-dataframe) (1.17.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from google-auth>=1.12.0->gspread) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from google-auth>=1.12.0->gspread) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.12/dist-packages (from google-auth>=1.12.0->gspread) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2025.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.12/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.12/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.1)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2025.10.5)

In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/Balaji_Sales_Cleaned_For_Looker.csv'

In [ ]:
df.to_csv(file_path, index=False)